{
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "rules": {
    "no-console": "off",
    "sort-imports": "off",
    "quotes": [
      "error",
      "single",
      {
        "avoidEscape": true
      }
    ]
  },
  "parserOptions": {
    "sourceType": "module"
  }
}